body {
    /* font: "Helvetica Neue", Helvetica, Arial, sans-serif;  */
    background-color: #cfcfcf;
    /* background-image: "background.png"; */
    background: linear-gradient(45deg, rgba(22, 167, 175, 0.6) 5%, rgba(23, 27, 158, 0.7) 55%, rgba(68, 9, 82, 0.5) 100%) no-repeat;
    background-size: 200%;
    color: #222;
    height: 100vh;
   
  }
  
header {
    text-align: center;
}

h1{
     /* font-family: 'Black Ops One', cursive; */
    font-family: 'Press Start 1P', cursive; 
    font-size: 40px;
    color: #cfcfcf;
}
span {
    font-family: 'Press Start 1P', cursive;
    font-weight: bold;
    font-size: 20px;
}
button {
    width: 80px;
    height: 38px;
    font-size: 15px;
    border-radius: 15px;
    margin: -5px 6px 10px 6px;
    /* background-color: #cfcfcf */
}
main {
    text-align: center;
    margin-top: 30px;
    /* outline: 5px solid rgba(23, 27, 158, 0.7); */
    overflow: scroll;
}
section {
    text-align: center;
    margin: 10px;
}
.reset {
    margin-left: 50px;
    width: 105px;
    height: 35px;
    font-size: 14px;
    background-color: #cfcfcf;
    border-radius: 10px;
}
 /* Another class that for div (Images Div) */
.flipDiv {
    display: inline-block;
    margin: 20px 10px 0 10px;  
}

#cardContainer{
	/* width: 60%; */
    /* height: 60%; */
    margin: 0 auto;
    text-align: center;
    
}
/*  Classes for font images and back images */
.front, .back {
    display: inline-block;
	width: 200px;
	height: 200px;
	background-color: white;
	border-radius: 5px;
    box-shadow: 0px 1px 6px rgba(0,0,0, 0.4);
   
}
 /* DeckContainer and  Image holding Div (flip-Div) widths */
 [class = "container-2*2"]  {
     width: 430px;
     height: 425px;
 }
 .divFlip-2-2 {
    width: 180px;
    height: 180px;
 }

[class = "container-3*2"]  {
    width: 630px;
    height: 430px;
}
.divFlip-3-2 {
    width: 180px;
    height: 180px;
 }

[class = "container-4*2"]  {
    width: 720px;
    height: 390px;
}
.divFlip-4-2 {
    width: 150px;
    height: 160px;
 }

[class = "container-4*4"]  {
    width: 680px;
    height: 520px;
}
.divFlip-4-4 {
    width: 140px;
    height: 100px;
 }
 /* Responsive design  */
 @media only screen and (max-width: 890px) { 

    [class = "container-3*2"]  {
        width: 560px;
        height: 270px;
    }
    .divFlip-3-2 {
        width: 150px;
        height: 100px;
     }
     h1 {
        font-size: 40px;
    }
    button {
        width: 70px;
        height: 35px;
        font-size: 14px;
        border-radius: 10px;
        margin: -5px 6px 10px 6px;
    }
    .reset {
        margin-left: 30px;
        width: 100px;
        height: 35px;
        font-size: 13px;
    }
    .moves {
        font-size: 18px;
    }

   [class = "container-4*4"]  {
        width: 680px;
        height: 520px;
    }
    .divFlip-4-4 {
        width: 140px;
        height: 100px;
    }
 }

 @media only screen and (max-width: 780px) { 
    [class = "container-4*2"]  {
        width: 620px;
        height: 345px;
    }
    .divFlip-4-2 {
        width: 130px;
        height: 140px;
     }
     h1 {
         font-size: 40px;
     }
     button {
        width: 70px;
        height: 30px;
        font-size: 15px;
        border-radius: 10px;
        margin: -5px 6px 10px 6px;
    }
    .reset {
        margin-left: 30px;
        width: 90px;
        height: 25px;
        font-size: 12px;
    }
    .moves {
        font-size: 15px;
    }

     [class = "container-4*4"]  {
        width: 560px;
        height: 520px;
    }
    .divFlip-4-4 {
        width: 110px;
        height: 100px;
     }
 }
 @media only screen and (max-width: 655px) { 

    [class = "container-3*2"]  {
        width: 430px;
        height: 260px;
    }
    .divFlip-3-2 {
        width: 120px;
        height: 100px;
     }
     h1 {
        font-size: 40px;
    }
    button {
        width: 60px;
        height: 30px;
        font-size: 12px;
        border-radius: 10px;
        margin: -5px 6px 10px 6px;
    }
    .reset {
        margin-left: 30px;
        width: 80px;
        height: 25px;
        font-size: 10px;
    }
    .moves {
        font-size: 15px;
    }

    [class = "container-4*2"]  {
        width: 500px;
        height: 325px;
    }
    .divFlip-4-2 {
        width: 100px;
        height: 130px;
     }

     [class = "container-4*4"]  {
        width: 430px;
        height: 510px;
    }
    .divFlip-4-4 {
        width: 80px;
        height: 100px;
     }
 }

 @media only screen and (max-width: 515px) { 
    [class = "container-4*2"]  {
        width: 380px;
        height: 280px;
    }
    .divFlip-4-2 {
        width: 70px;
        height: 110px;
     }
     button {
        width: 50px;
        height: 30px;
        font-size: 12px;
        border-radius: 12px;
        margin: -5px 6px 10px 6px;
    }
    .reset {
        margin-left: 40px;
        width: 90px;
        height: 30px;
        font-size: 12px;
    }
 }

 @media only screen and (max-width: 470px) { 
    [class = "container-2*2"]  {
        width: 320px;
        height: 340px;
    }
    .divFlip-2-2 {
       width: 135px;
       height: 135px;
    }
    [class = "container-3*2"]  {
        width: 320px;
        height: 310px;
    }
    .divFlip-3-2 {
       width: 80px;
       height: 120px;
    }
    [class = "container-4*2"]  {
        width: 280px;
        height: 240px;
    }
    .divFlip-4-2 {
        width: 50px;
        height: 90px;
     }
     button {
        width: 50px;
        height: 30px;
        font-size: 12px;
        border-radius: 12px;
        margin: -5px 6px 10px 6px;
    }
    .reset {
        margin-left: 30px;
        width: 90px;
        height: 30px;
        font-size: 12px;
    }
    h1 {
        font-size: 25px;
    }
    [class = "container-4*4"]  {
        width: 340px;
        height: 430px;
    }
    .divFlip-4-4 {
        width: 65px;
        height: 80px;
     }
 }